/* ************************************************************************************************************** */
                                                    /* General CSS */
/* ************************************************************************************************************** */

.body{
    background: url(./bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    background-attachment: fixed;
    font-family: sans-serif;
}
.content{
    margin: 25%;
    padding: auto;
    padding-top: 0%;
    margin-top: 0;
    display: flex;
}

/* ************************************************************************************************************** */
                                                    /* CARD CSS */
/* ************************************************************************************************************** */

.left{
    background-color:  #032d35;
    color: #ffffff;
    padding: 20%;
}
.left p{
    font-size: 10px;
}
.left button{
    height: 40px;
    width: 150px;
    background-color:  #48a8c0;
    color: #ffffff;
    cursor: pointer;
    border-radius: 50px;
    border: 2px solid #ffffff;
}
.left button:hover{
    background-color:#ffffff;
    color: #032d35;
}
.right{
    text-align: center;
    background-color:  #ffffff;
    padding: 10px;
}
.right input{
    height: 30px;
    width: 350px;
    margin: 0px;
    border: none;
    background-color: rgb(209, 209, 209);
    margin: 5px;
    border: 2px solid #555;
    border-radius: 3px;
}
#check{
    width: 20px;
    height: 20px;
}
.right button{
    height: 40px;
    width: 150px;
    background-color:  #032d35;
    color: #ffffff;
    cursor: pointer;
    border-radius: 50px;
    border: 0px;
}
.right button:hover{
    background-color:#ffffff;
    color: #48a8c0;
    border: 2px solid #48a8c0;
}

/* ************************************************************************************************************** */
                                                    /* MEDIA QUERIES */
/* ************************************************************************************************************** */


@media (max-width:700px) {
    .nav{
        width: auto;
        height: auto;
        display: block;
        padding: 0;
        position: relative;
    }
    .nav a{
        font-size: 12px;
        text-align: center;
        width: auto;
    }
    .content {
        display: block;
    }
    .right{
        margin: 0;
        width: auto;
    }
    .check{
        font-size: 10px;
        display: block;
    }
    #check{
        height: 15px;
        width: 15px;
    }
    .left{
        margin: 0;
        width: auto;
    }
    form{
        width: auto;
    }
    .right input{
        width: auto;
        margin: 5px;
    }
    .left button{
        width: 150px;
        height: 30px;
        font-size: 10px;
        margin: 0;
    }
    .right button{
        width: 150px;
        height: 30px;
        font-size: 10px;
        margin: 0;
    }
}
